<!DOCTYPE HTML>
<html>
  <head>
    <title>diyActive: Barnowl Baby Steps</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html"> diyActive </a></li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li>
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://www.hyperlocalcontext.com" target="_blank">
                    www.hyperlocalcontext.com
                  </a>
                </li>
                <li>
                  <a href="http://smartspac.es" target="_blank">
                    smartspac.es
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li>
                  <a href="http://context.reelyactive.com" target="_blank">
                    Our website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1> Barnowl Baby Steps </h1>
          <p> Here we'll present how to write simple JavaScript programs that do potentially interesting and useful things with <a href="https://www.npmjs.org/package/barnowl" target="_blank">barnowl</a>, our free middleware package for Node.js. </p>
          <img src="images/barnowlBabySteps.jpg"
               class="img-responsive center-block">
          <h2> Installing Node.js </h2>
          <p> If you don't already have Node.js installed, be sure to do so first!  Installation is easy on all platforms. </p>
          <p class="text-center">
            <a class="btn btn-primary" href="http://nodejs.org/download/"
               role="button"> Let's do it </a>
          </p>
          <h2> Installing barnowl </h2>
          <p> The easy way is via npm.  Create a new directory called baby-barnowl, then from that directory run: <br> <code> npm install barnowl </code> </p>
          <p> Yeah, that's it, you're done! </p>
          <hr>
          <p> If you prefer to install from github, instead clone the <a href="https://github.com/reelyactive/barnowl" target="_blank">barnowl repository</a>. </p>
          <h2> Running barnowl and telling it where to listen </h2>
          <p> It's as simple as three lines of code!  First you load barnowl, second, you create an instance of barnowl and, third, you tell that instance where to listen for packets.  Create a new file called baby-barnowl.js in the same directory and paste in the following lines of code: </p>
          <pre>
var barnowl = require('barnowl');
var middleware = new barnowl();
middleware.bind({ protocol: 'test',
                  path: 'default' }); </pre>
          <p> If you've already completed the <a href="install-a-starter-kit.html" target="_blank">Install a Starter Kit</a> tutorial, you'll likely want to update the protocol and path to listen for your hardware.  The 'test' protocol specified above will initiate a packet generator that can be used in the absence of hardware. </p>
          <p> If you run this code, it will listen for and process any received packets.  In order to do something useful we'll need to handle the output as we'll show next. </p>
          <h2> Printing packets to the console </h2>
          <p> Barnowl outputs <i>visibilityEvents</i> which our code can listen for. To listen for these events and output the data to the console (something potentially useful), paste in these additional lines of code: </p>
          <pre>
middleware.on('visibilityEvent', function(tiraid) {
  console.log(tiraid); // Useful code goes here
});       </pre>
          <p> Now run your code as follows to see data packets output to the console: <br> <code> node baby-barnowl.js </code> </p>
          <h2> Wait, what's a tiraid? </h2>
          <p> A tiraid combines three elements:
            <ul>
              <li> <b>ti</b>mestamp
              <li> <b>ra</b>dio decodings
              <li> <b>id</b>entifier
            </ul>
          </p>
          <p> These are in fact the three core elements of hyperlocal context (which you can learn more about <a href="http://context.reelyactive.com/context.html" target="_blank">on the reelyActive website</a>).  Radio decodings and location are effectively equivalent if the location of the decoding devices is known (as is typically the case for fixed infrastructure). </p>
          <p> The data produced by barnowl is always structured as these three elements.  In the following sections, we'll see how we can filter based on these criteria. </p>
          <h2> Filtering packets by signal strength </h2>
          <p> Perhaps we're only interested in outputting data to the console for devices that are physically close to a reelceiver.  In other words, we only display the data when the signal strength is above a threshold. To do so, we simply wrap the <i>console.log(data);</i> from the previous example in an if statement which tests the signal strength or rssi (Received Signal Strength Indication): </p>
          <pre>
var rssi = tiraid.radioDecodings[0].rssi;
if(rssi > 160) {
  console.log(tiraid);
}         </pre>
          <p> Now run your code again and try moving the detected wireless device(s) closer and farther away from the reelceiver(s). </p>
          <h2> Filtering packets by identifier </h2>
          <p> Perhaps we're only interested in outputting data to the console for a specific device.  In other words, we only display the data when it is associated with a given device identifier. To do so, we again wrap the <i>console.log(data);</i> from the previous example in an if statement which tests the identifier: </p>
          <pre>
var identifier = tiraid.identifier.value;
if(identifier === '001bc50940100000') {
  console.log(tiraid);
}         </pre>
          <p> Now run your code again and confirm that only packets from the given device are being output to the console. </p>
          <h2> What's next? </h2>
          <p> Check out <a href="http://reelyactive.github.io/barstool/" target="_blank">barstool</a> and <a href="http://reelyactive.github.io/advlib/" target="_blank">advlib</a> for more low-level interaction, or follow our <a href="make-a-smartspace.html">Make a Smart Space tutorial</a> for higher-level interaction. </p>
          <p class="text-center">
            <a class="btn btn-success" href="index.html"
               role="button"> Return to diyActive </a>
          </p>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
      </div>

      <footer class="footer">
        <a href="index.html"> diyActive </a> &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com">
          &copy; reelyActive 2014-2015
        </a>
      </footer>
    </div>
  </body>
</html>
