<!DOCTYPE HTML>
<html>
  <head>
    <title>diyActive: #HackTheHouse with reelyActive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Everything you need to know about our technology for the Notman House #HackTheHouse hackathon series.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html"> diyActive </a></li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li>
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
                <li>
                  <a href="https://getpareto.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="https://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li>
                  <a href="https://reelyactive.com/blog/" target="_blank">
                    Our blog
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <img src="images/hackthehouse-logo.jpg"
                 class="img-responsive center-block">
            <br>
            <h1> reelyActive at Notman House </h1>
            <p> What can <i>you</i> do with <a href="http://context.reelyactive.com/technology.html" target="_blank">reelyActive technology</a> at <a href="http://notman.ca/hackthehouse/" target="_blank">Notman House</a>? </p>
            <h2> I'm impatient! </h2>
            <p> Click on the buttons below to experience some <i>open source</i> web applications using our <b>live sensor feed</b> from the house: </p>
            <p class="text-center">
              <a class="btn btn-primary" href="http://smartspac.es/notman"
                 role="button" target="_blank"> Smart Space </a> &nbsp;
              <a class="btn btn-primary" href="http://www.hyperlocalcontext.com/contextat/directory/notman"
                 role="button" target="_blank"> Contextual API </a> &nbsp;
              <a class="btn btn-primary" href="http://maison-notman-house.github.io/notman-reelyactive-dashboard/"
                 role="button" target="_blank"> Dashboard </a>
            </p>
            <h2> Live sensor feed? </h2>
            <p> Indeed!  There are at least 7 of our <a href="http://context.reelyactive.com/technology.html#sensors" target="_blank">reelceivers</a> permanently installed in the house.  And their live sensor feed is <i>openly</i> accessible from our cloud platform via:
              <ul>
                <li> <a href="http://context.reelyactive.com/api.html" target="_blank">a REST API</a>
                <li> websockets
              </ul>
            </p>
            <img src="images/hackthehouse-reel.png"
                 class="img-responsive center-block">
            <h2> What do the sensors sense? </h2>
            <p> Each reelceiver detects <b>Bluetooth devices</b> that are in range.  This includes devices such as:
              <ul>
                <li> smartphones
                <li> wearables
                <li> beacons
                <li> laptops
                <li> Smart TVs
                <li> etc.
              </ul>
            </p>
            <img src="images/mobileToReel.png"
                 class="img-responsive center-block">
            <h2> Where are the sensors located? </h2>
            <p> The following image, adapted from the <a href="https://my.matterport.com/show/?m=CdDj13wQ6jT" target="_blank"> Matterport 3D Showcase </a> highlights the sensor locations and their directories.  Each sensor has sufficient range to cover at least the wing of the floor on which it is located. </p>
            <img src="images/hackthehouse-matterport.png"
                 class="img-responsive center-block">
            <h3> <u>Example</u>: What's the context on the first floor? </h3>
            <p class="text-center"> <b> Ask our API: </b>
              <a href="http://www.hyperlocalcontext.com/contextat/directory/notman:first" target="_blank"> /contextat/directory/notman:first </a>
            </p>
            <h2> What does the platform provide? </h2>
            <p> In two words, <a href="http://context.reelyactive.com/context.html" target="_blank">Hyperlocal Context</a>.  For compatible Bluetooth Smart (aka BLE or Bluetooth 4.x) devices, our platform will:
              <ul>
                <li> <b>locate</b> which sensor they're nearest
                <li> <b>identify</b> them uniquely
                <li> <b>decode</b> the data they send
                <li> <b>timestamp</b> their activity
              </ul>
            </p>
            <h3> <u>Example</u>: Where is the Distech Controls display? </h3>
            <p class="text-center"> <b> Ask our API: </b>
              <a href="http://www.hyperlocalcontext.com/whereis/transmitter/78bdbc3bbb74" target="_blank"> /whereis/transmitter/78bdbc3bbb74 </a>
            </p>
            <h2> Where does the data go? </h2>
            <p> The reelyActive cloud collects and forwards the real-time sensor data stream.  <i>No historical data is saved on our servers.</i>  The real-time data is consumed via our REST API or websockets, and it is also <a href="https://www.npmjs.com/package/barnacles#connecting-with-services" target="_blank">forwarded to partner services</a> including:
              <ul>
                <li> <a href="http://mnubo.com/" target="_blank">mnubo</a>
                <li> <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a>
              </ul>
            </p>
            <h3> How do I access the mnubo data? </h3>
            <p> Check out <a href="https://github.com/mnubo" target="_blank">mnubo's GitHub</a> for SDKs for examples and use the following credentials:
              <ul>
                <li> <b>URL</b>: reelyactive.sandbox.mnubo.com
                <li> <b>Client id</b>: Rq5XlgEovIlnT7iON2lco9yhHMQ3nH8IrdBwFltdRsw7XkmoHA
                <li> <b>Client secret</b>: t8wlAN30cpgOHSgz0W5Lc1Tcj8qe0RJsybHng8mMuuvbKcbWuG
              </ul>
              If you'd like to add your service, just let us know!
            </p>
            <h2> What's next? </h2>
            <p> We'll be updating this page as the hackathon progresses and open source integrations are added.  Check back regularly! </p>
            <p class="text-center">
              <a class="btn btn-success" href="index.html"
                 role="button"> Return to diyActive </a>
            </p>
          </div>
          <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        </div>
      </div>
      <footer class="footer">
        <a href="/"> diyActive </a> &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com">
          &copy; reelyActive 2016-2017
        </a>
      </footer>
    </div>
  </body>
</html>
