<!DOCTYPE HTML>
<html>
  <head>
    <title>reelyActive DIY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> diyActive </a></li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li>
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://www.hyperlocalcontext.com" target="_blank">
                    www.hyperlocalcontext.com
                  </a>
                </li>
                <li>
                  <a href="http://smartspac.es" target="_blank">
                    smartspac.es
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li>
                  <a href="http://context.reelyactive.com" target="_blank">
                    Our website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
          <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
            <img src="images/diyActive.png"
                 class="img-responsive center-block">
            <h2 class="text-center" tooltip="This is a great quote from the film The 40 Year Old Virgin"> Do you like to do-it-yourself? </h2>
          </div>
          <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
        </div>
        <tabset>
          <!----- Projects & Tutorials Tab ---------------------------------->
          <tab heading="Projects & Tutorials">
            <div class="row">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8">
                <h2> Here are some projects and tutorials to try yourself: </h2>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="install-a-starter-kit.html">
                        <img src="images/starterkitBLE.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Install a Starter Kit </h2>
                      <p> Step-by-step guide to installing one of our starter kits and streaming data to the console. </p>
                      <a class="btn btn-primary" href="install-a-starter-kit.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="barnowl-baby-steps.html">
                        <img src="images/barnowlBabySteps.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Barnowl Baby Steps </h2>
                      <p> Learn how to do something useful with barnowl, our free middleware package for Node.js which is central to all our software. </p>
                      <a class="btn btn-primary" href="barnowl-baby-steps.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="quickyactive.html">
                        <img src="images/quickyActive.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <h2> quickyActive </h2>
                      <p> The fastest, friendliest way to get started!  Create Smart Spaces on your computer in just five minutes with our open-source software. </p>
                      <a class="btn btn-primary" href="quickyactive.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="make-a-smartspace.html">
                        <img src="images/smartspacesStack.png"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Make a Smart Space </h2>
                      <p> Step-by-step guide to an interactive webpage that displays who (and what) is present at a location and what they're sharing via social media. </p>
                      <a class="btn btn-primary" href="make-a-smartspace.html"
                         role="button"> Let's do it </a>
                      <a class="btn btn-default" role="button" target="_blank"
                         href="https://www.youtube.com/watch?v=MGZm6rUU6_g">
                        Watch the video
                      </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="host-a-json-silo.html">
                        <img src="images/moreSilo.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Host a JSON Silo </h2>
                      <p> Step-by-step guide to hosting your very own data silo where you can store your digital personae compatible with Smart Spaces. </p>
                      <a class="btn btn-primary" href="host-a-json-silo.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="build-your-own-hub.html">
                        <img src="images/buildYourOwnHub.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Build your own Hub </h2>
                      <p> Step-by-step guide to build your own hub which connects reelyActive reelceivers to any computing device. </p>
                      <a class="btn btn-primary" href="build-your-own-hub.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <h3 class="text-center">But wait, there's more! <small>Browse the other tabs above &#8593;&#8593;&#8593;</small></h3>
                <p>&nbsp;</p>
              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
          </tab>
          <!----- Integrations Tab ------------------------------------------>
          <tab heading="Integrations">
            <div class="row">
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h2> Here's how to integrate with our platform: </h2>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="integrate-your-mobile-app.html">
                        <img src="images/mobileIntegration.png"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Integrate your Mobile App </h2>
                      <p> Guide to integrating mobile apps with the reelyActive platform using Bluetooth Low Energy technology.  Your app will be both discoverable and able to discover hyperlocal context. </p>
                      <a class="btn btn-primary" role="button"
                         href="integrate-your-mobile-app.html"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="integrate-your-service.html">
                        <img src="images/serviceIntegration.png"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Integrate your Service </h2>
                      <p> Guide to integrating services on top of the reelyActive platform.  Your service will consume a real-time stream of events represented in JSON format.</p>
                      <a class="btn btn-primary" role="button"
                         href="integrate-your-service.html"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="integrate-your-product.html">
                        <img src="images/productIntegration.png"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> Integrate your Product </h2>
                      <p> Guide to integrating products with the reelyActive platform.  Your product will be radio-identifiable and digitally represented in a standard format on the web.</p>
                      <a class="btn btn-primary" role="button"
                         href="integrate-your-product.html"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <h3 class="text-center">But wait, there's more! <small>Browse the other tabs above &#8593;&#8593;&#8593;</small></h3>
                <p>&nbsp;</p>
              </div>
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
            </div>
          </tab>
          <!----- Hackathons Tab -------------------------------------------->
          <tab heading="Hackathons">
            <div class="row">
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h2> Here's how to hack our platform: </h2>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="reelyhacktive.html">
                        <img src="images/reelyHacktive.jpg"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <h2> reely<i>Hack</i>tive </h2>
                      <p> A brief overview of what you might to achieve in a hackathon weekend by hacking on our platform. </p>
                      <a class="btn btn-primary" href="reelyhacktive.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <a href="hackthehouse.html">
                        <img src="images/hackthehouse.png"
                             class="img-responsive center-block">
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                      <h2> #HackTheHouse </h2>
                      <p> Everything you need to know about our technology for the Notman House <a href="http://notman.ca/hackthehouse/" target="_blank">#HackTheHouse</a> hackathon series. </p>
                      <a class="btn btn-primary" href="hackthehouse.html"
                         role="button"> Let's do it </a>
                    </div>
                  </div>
                </div>
                <h3 class="text-center">But wait, there's more! <small>Browse the other tabs above &#8593;&#8593;&#8593;</small></h3>
                <p>&nbsp;</p>
              </div>
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
            </div>
          </tab>
          <!----- Open Source Software Tab ---------------------------------->
          <tab heading="Open source software">
            <div class="row">
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h2> Here's everything we did ourselves: </h2>
                <table class="table table-hover">
                  <tr>
                    <th> Name </th>
                    <th> GitHub </th>
                    <th> npmjs </th>
                    <th> Live Demo </th>
                    <th> License </th>
                  </tr>
                  <tr>
                    <td> barnowl </td>
                    <td> 
                      <a href="https://github.com/reelyactive/barnowl"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/barnowl"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> barnacles </td>
                    <td> 
                      <a href="https://github.com/reelyactive/barnacles"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/barnacles"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> barterer </td>
                    <td> 
                      <a href="https://github.com/reelyactive/barterer"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/barterer"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> chickadee </td>
                    <td> 
                      <a href="https://github.com/reelyactive/chickadee"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/chickadee"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> json-silo </td>
                    <td> 
                      <a href="https://github.com/reelyactive/json-silo"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/json-silo"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="http://myjson.info"
                         target="_blank"> myjson.info </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> hlc-server </td>
                    <td> 
                      <a href="https://github.com/reelyactive/hlc-server"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/hlc-server"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="http://www.hyperlocalcontext.com"
                         target="_blank"> hyperlocalcontext.com </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> smartspaces </td>
                    <td> 
                      <a href="https://github.com/reelyactive/smartspaces-server" target="_blank"> S </a> /
                      <a href="https://github.com/reelyactive/smartspaces-client" target="_blank"> C </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/smartspaces"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="http://smartspac.es"
                         target="_blank"> smartspac.es </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> advlib </td>
                    <td> 
                      <a href="https://github.com/reelyactive/advlib"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/advlib"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="http://reelyactive.github.io/advlib"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> barstool </td>
                    <td> 
                      <a href="https://github.com/reelyactive/barstool"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://reelyactive.github.io/barstool"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> jsonerator </td>
                    <td> 
                      <a href="https://github.com/reelyactive/jsonerator"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://reelyactive.github.io/jsonerator"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> midiot </td>
                    <td> 
                      <a href="https://github.com/reelyactive/midiot"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/midiot"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> starling </td>
                    <td> 
                      <a href="https://github.com/reelyactive/starling"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/starling"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> reelib </td>
                    <td> 
                      <a href="https://github.com/reelyactive/reelib"
                         target="_blank"> Link </a>
                    </td>
                    <td>
                      <a href="https://www.npmjs.com/package/reelib"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> beaver </td>
                    <td> 
                      <a href="https://github.com/reelyactive/beaver"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://reelyactive.github.io/beaver"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> cormorant </td>
                    <td> 
                      <a href="https://github.com/reelyactive/cormorant"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://reelyactive.github.io/cormorant"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> cuttlefish </td>
                    <td> 
                      <a href="https://github.com/reelyactive/cuttlefish"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> web-ble-demo </td>
                    <td> 
                      <a href="https://github.com/reelyactive/web-ble-demo"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                      <a href="http://reelyactive.github.io/web-ble-demo"
                         target="_blank"> gh-pages </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                </table>
                <h2> Here's how we do it: </h2>
                <table class="table table-hover">
                  <tr>
                    <th> Name </th>
                    <th> GitHub </th>
                    <th> Live Demo </th>
                    <th> Covers </th>
                    <th> License </th>
                  </tr>
                  <tr>
                    <td> node-style-guide </td>
                    <td>
                      <a href="https://github.com/reelyactive/node-style-guide"
                         target="_blank"> Link </a>
                    </td>
                    <td> &nbsp; </td>
                    <td> 
                      <a href="https://nodejs.org/" target="_blank"> Node.js </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                  <tr>
                    <td> angular-style-guide </td>
                    <td>
                      <a href="https://github.com/reelyactive/angular-style-guide" target="_blank"> Link </a>
                    </td>
                    <td> 
                      <a href="http://reelyactive.github.io/angular-style-guide" target="_blank"> gh-pages </a>
                    </td>
                    <td> 
                      <a href="https://angularjs.org/"
                         target="_blank"> AngularJS </a>, <br>
                      <a href="https://angular-ui.github.io/bootstrap/"
                         target="_blank"> Angular UI Bootstrap </a>, <br>
                      <a href="http://getbootstrap.com/css/"
                         target="_blank"> Bootstrap CSS </a>, <br>
                      HTML
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/MIT"
                         target="_blank"> MIT </a>
                    </td>
                  </tr>
                </table>
                <h2> Here's what our friends helped us do: </h2>
                <table class="table table-hover">
                  <tr>
                    <th> Name </th>
                    <th> GitHub </th>
                    <th> Contributor </th>
                    <th> License </th>
                  </tr>
                  <tr>
                    <td> ble-android-sdk </td>
                    <td>
                      <a href="https://github.com/reelyactive/ble-android-sdk"
                         target="_blank"> Link </a>
                    </td>
                    <td> 
                      <a href="http://sidereo.com/"
                         target="_blank"> Sidereo </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/Apache-2.0"
                         target="_blank"> Apache 2.0 </a>
                    </td>
                  </tr>
                  <tr>
                    <td> ble-ios-sdk </td>
                    <td>
                      <a href="https://github.com/reelyactive/ble-ios-sdk"
                         target="_blank"> Link </a>
                    </td>
                    <td> 
                      <a href="http://sidereo.com/"
                         target="_blank"> Sidereo </a>
                    </td>
                    <td>
                      <a href="http://opensource.org/licenses/Apache-2.0"
                         target="_blank"> Apache 2.0 </a>
                    </td>
                  </tr>
                </table>
                <h3 class="text-center">But wait, there's more! <small>Browse the other tabs above &#8593;&#8593;&#8593;</small></h3>
                <p>&nbsp;</p>
              </div>
              <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
            </div>
          </tab>
        </tabset>
      </div>
      <footer class="footer">
        <a href="index.html"> diyActive </a> &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2014-2016
        </a>
      </footer>
    </div>
  </body>
</html>
