<!DOCTYPE HTML>
<html>
  <head>
    <title>diyActive: Install a Starter Kit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html"> diyActive </a></li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li>
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://www.hyperlocalcontext.com" target="_blank">
                    www.hyperlocalcontext.com
                  </a>
                </li>
                <li>
                  <a href="http://smartspac.es" target="_blank">
                    smartspac.es
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="http://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li>
                  <a href="http://context.reelyactive.com" target="_blank">
                    Our website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1> Install a Starter Kit </h1>
          <p> Here we'll present how to install a starter kit.  At the end of this tutorial you'll have a stream of sensor data arriving at your PC/server ready to be processed by any of our open source software.  Select your starter kit and follow the instructions below: </p>
          <tabset>
            <tab heading="Minimal Starter Kit">
              <br>
              <p> You should have in front of you the following kit: </p>
              <img src="images/minimalStarterKit.jpg"
                   class="img-responsive center-block">
              <h2> Installing Node.js </h2>
              <p> If you don't already have Node.js installed, be sure to do so first!  Installation is easy on all platforms. </p>
              <p class="text-center">
                <a class="btn btn-primary" href="https://nodejs.org"
                   target="_blank" role="button"> Let's do it </a>
              </p>
              <h2> Connect the Reelceiver </h2>
              <p> Plug the reelceiver into the hub so that the Hub &#8594; arrow points towards the hub.  Note that the reelceiver will still power on if it's connected in the wrong orientation, but it will <i>not</i> communicate with the hub. </p>
              <h2> Connect the Hub to your PC/server </h2>
              <p> Plug the other end of the hub into a free USB port on your PC or server.  The reelceiver should power on as indicated by its blinking LED. </p>
              <h2> Install serialport </h2>
              <p> In order to listen for the serial data stream, we'll first need to install the serialport package for Node.js.  Create a new directory called hello-barnowl, then from that directory run: <br> <code> npm install serialport </code> </p>              
              <p>  If you experience any problems with the latter, consult the <a href="https://github.com/voodootikigod/node-serialport#to-install" target="_blank">serialport package documentation</a> for specific instructions. </p>
              <h2> Run barnowl </h2>
              <p> Here we'll run <a href="https://www.npmjs.org/package/barnowl" target="_blank">barnowl</a>, our open source middleware package which listens for the data stream, processes it and outputs the result. </p>
              <img src="images/barnowl.jpg"
                   class="img-responsive center-block">
              <p> In the hello-barnowl directory run: <br> <code> npm install barnowl </code> </p>
              <p> then create a file called hello-barnowl.js and paste in the following code: </p>
              <pre>
var barnowl = require('barnowl');
var middleware = new barnowl();
middleware.bind({ protocol: 'serial', 
                  path: 'auto' }); <b>// See notes below</b>
middleware.on('visibilityEvent', function(data) { 
  console.log(data); 
});           </pre>
              <p> Now simply run: <br> <code> node hello-barnowl.js </code> </p>
              <p> and, all going well, the <i>path</i> to your USB Hub will be auto-detected and data will be output to the console.  These are radio transmissions being captured by the reelceivers.  It works! </p>
              <p> The next section explains how to set the exact path to your USB Hub which is necessary if auto-detection doesn't work. </p>
              <h2> Determine the path to your USB serial port </h2>
              <p> Even if auto-detection fails, all of the candidate paths to the USB Hub should nonetheless be listed in the console output.  For example you might see: </p>
              <ul>
                <li> Auto serial path: '/dev/ttyUSB0' was selected
                <li> Alternate serial path: '/dev/ttyUSB1' is a FTDI device.
              </ul>
              <p> In this case, edit hello-barnowl.js and specify the alternate path '/dev/ttyUSB1' in place of 'auto' and run again.  Repeat for all alternates until it works. </p>
              <p> If that <i>still</i> doesn't work, in the hello-barnowl directory, create a file called serial-list.js and paste in the following code: </p>
              <pre>
var serialPort = require('serialport');
serialPort.list(function (err, ports) {
  ports.forEach(function(port) {
    console.log('path: ' + port.comName);
    console.log('id:   ' + port.pnpId);
  });
});</pre>
              <p> Now run: <br> <code> node serial-list.js </code> </p>
              <p> In the output you should see one or more devices listed. We're interested in the one which has FTDI_USB-RS422_Cable in its id.  For instance, on Linux you might see the following: </p>
              <pre>
path: /dev/ttyUSB0
id:   usb-FTDI_USB-RS422_Cable_FTVVPHTW-if00-port0</pre>
              <p> Copy the path (ex: /dev/ttyUSB0 or COM5) into hello-barnowl.js and run it again. </p>
            </tab>
            <tab heading="BLE/Original Starter Kit">
              <br>
              <p> You should have in front of you one of the following kits: </p>
              <img src="images/starterkits.jpg"
                   class="img-responsive center-block">
              <h2> Installing Node.js </h2>
              <p> If you don't already have Node.js installed, be sure to do so first!  Installation is easy on all platforms. </p>
              <p class="text-center">
                <a class="btn btn-primary" href="https://nodejs.org"
                   target="_blank" role="button"> Let's do it </a>
              </p>
              <h2> Connect Power </h2>
              <p> Take the wall adapter provided with your kit and plug it into the mains.  If you don't have access to a North American outlet, you'll need an adapter.  Don't worry about the voltage, we've provided you with a kick-ass adapter with global compatibility and enough power to drive reely long reels with plenty of reelceivers. </p>
              <p> Plug the barrel connector of the wall adapter into the receptacle on the hub (black box).  You should hear a faint beeping sound.  That's good! </p>
              <h2> Connect the Reel </h2>
              <p> Now we can connect the reelceivers in a daisy-chain configuration we call a reel. This is pure plug-n-play simplicity, just take into account the following:
                <ul>
                  <li> The reelceivers are <i>directional</i>, make sure that the little arrow on the back that says "Towards Hub" points towards the hub!
                  <li> The order in which reelceivers are connected is not important: you can mix Bluetooth Smart and 915MHz reelceivers in any combination - just respect the directionality!
                  <li> Reelceivers don't communicate via Ethernet, even if they use the same Cat5 cables as Ethernet.  Be sure to plug them into the cable coming out of the hub that is marked "Reel".
                </ul>
              </p>
              <img src="images/reel.jpg"
                   class="img-responsive center-block">
              <p> Daisy chain all of your reelceivers to the hub (you'll need to supply the additional cables, any network cable will do).  Each reelceiver's LED should blink if it is receiving power.  Good job!
              </p>
              <h2> Connect the Hub to your PC/server </h2>
              <p> Only one cable left unplugged!  Now it's time to connect the hub to your PC or server.  Simply plug the Ethernet cable of the hub directly to your PC or server. </p>
              <p> That was easy!  Next up: the joys of IP settings... </p>
              <h2> Change the IP address of your PC/server </h2>
              <p> We'll be honest, we wish you didn't have to deal with this step. It's the biggest source of friction in an otherwise relatively frictionless installation. But we'll get through it together. (Ask about our USB hub and other alternatives which eliminate this step!) </p>
              <p> We preconfigured the IP settings on your hub and sent you the details which are likely the following:
                <ul>
                  <li> <b>Hub IP:</b> &nbsp; 192.168.1.100
                  <li> <b>Target IP:</b> &nbsp; 192.168.1.101
                </ul>
              </p>
              <p> Now you'll need to change the IP address of your PC/server to match that of the target IP above.  If you don't know how to do this, search the Internet for "How to change my IP address in OS" where OS is the name of your operating system.  Thanks in advance for your patience and understanding! </p>
              <p> We're just one step away from the joy of seeing data streaming to your console! </p>
              <h2> Run barnowl </h2>
              <p> At this point, the hardware is actually streaming data to your PC/server and all you need to do is listen for it.  Here we'll run <a href="https://www.npmjs.org/package/barnowl" target="_blank">barnowl</a>, our open source middleware package which listens for the data stream, processes it and outputs the result. </p>
              <img src="images/barnowl.jpg"
                   class="img-responsive center-block">
              <p> Create a new directory called hello-barnowl, then from that directory run: <br> <code> npm install barnowl </code> </p>
              <p> In the same directory, create a file called hello-barnowl.js and paste in the following code: </p>
              <pre>
var barnowl = require('barnowl');
var middleware = new barnowl();
middleware.bind({ protocol: 'serial', 
                  path: '192.168.1.101:50000' }); <b>// Server IP address here!!!</b>
middleware.on('visibilityEvent', function(data) { 
  console.log(data); 
});           </pre>
              <p> Now simply run: <br> <code> node hello-barnowl.js </code> </p>
              <p> and you should see data being output to the console.  These are radio transmissions being captured by the reelceivers.  It works! </p>
              <h2> Optional: changing the hub IP settings </h2>
              <p> If you don't like the IP address settings we've provided, you're free to change them. To do so, you'll need to log on to the hub using a web browser and make the changes.  Log on to the hub by typing its IP address in your browser, for example: <a href="http://192.168.1.100" target="_blank"> 192.168.1.100 </a> </p>
              <p> When prompted, enter <i>admin</i> as the username and leave the password field <i>blank</i>. You should see a screen similar to this: </p> 
              <img src="images/gw215-home.png"
                  class="img-responsive center-block">
              <p> To change the target IP settings, click on COM1 which will provide the following options.  Enter in the target IP address(es), you can specify up to four ranges.  By default we use port 50000 but you can use any free port.  Don't forget to save your configuration! </p>
              <img src="images/gw215-com.png"
                   class="img-responsive center-block">
              <p> To change the IP settings of the hub itself, click on Networking which will provide the following options.  Enter in the desired IP settings, or select DHCP mode if the hub will be connected to a network which will provide a dynamic address.  Don't forget to save your configuration! </p>
              <img src="images/gw215-network.png"
                   class="img-responsive center-block">
              <p> Once you change the IP address of the hub and cycle power, it will use that new address.  Note that if the new address is outside of the subnet of the old address, you won't be able to log back on without first changing your PC/server's IP address.  Just a heads up! </p>
            </tab>
          </tabset>
          <hr>
          <h2> What's next? </h2>
          <p> With the hardware in place, you're ready to start exploring the capabilities of the reelyActive platform.  Read our <a href="barnowl-baby-steps.html">Barnowl Baby Steps</a> tutorial to build on what you've already done.  Or try <a href="make-a-smartspace.html">making your own Smart Space</a>.  Enjoy! </p>
          <p class="text-center">
            <a class="btn btn-success" href="index.html"
               role="button"> Return to diyActive </a>
          </p>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
      </div>
      <footer class="footer">
        <a href="index.html"> diyActive </a> &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com">
          &copy; reelyActive 2014-2016
        </a>
      </footer>
    </div>
  </body>
</html>
