<!DOCTYPE HTML>
<html>
  <head>
    <title>Deploying reelyActive Owl-in-Ones | diyActive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="How to deploy Owl-in-Ones in a space, providing zone coverage and/or point of interest granularity.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/"> diyActive </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://getpareto.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://reelyactive.com/blog/" target="_blank">
                    Our blog
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h1>
              Owl-in-One Deployment Overview <br>
              <small> How to deploy reelyActive Owl-in-Ones (OiO) to cover a space </small> 
            </h1>
            <img src="images/deployment-oio-overview.jpg"
                 class="img-responsive"> <br>
            <p> An Owl-in-One is a versatile, standalone wireless transceiver that provides plug-and-play infrastructure coverage.  This tutorial outlines the three steps to deploying OiOs to cover a space, namely: </p>
            <p class="text-center">
              <a class="btn btn-default btn-sm"
                 href="#planning"> Planning </a> &nbsp;
              <a class="btn btn-default btn-sm"
                 href="#powering"> Powering </a> &nbsp;
              <a class="btn btn-default btn-sm"
                 href="#connecting"> Connecting </a> &nbsp;
            </p>
            <h2 id="planning">
              Planning <br>
              <small> Placing the Owl-in-Ones on the floorplan </small>
            </h2>
            <p> The initial step is planning where to deploy the infrastructure  within the space.  This is typically accomplished using floorplans.  Based on the application, infrastructure can be placed to maximise <b>zone coverage</b> and/or to provide granularity at specific <b>points of interest (POIs)</b>. </p>
            <table class="table table-hover table-reelyactive">
              <caption> INFRASTRUCTURE PLACEMENT STRATEGIES </caption>
              <thead>
                <tr>
                  <th> Strategy </th>
                  <th> Description </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Zone coverage </th>
                  <td> <p> Infrastructure is placed at regular spacing intervals, often in a grid pattern, providing complete and uniform coverage of the space.  To facilitate deployment, it is common to place infrastructure on regular structural features such as support columns. </p> <i> Typical spacing is every 7m or one OiO for every 50m<sup>2</sup>. </i> </td>
                </tr>
                <tr>
                  <th> Points of Interest </th>
                  <td> <p> Infrastructure is placed at specific POIs where proximity or granular location is important. </p> <i> POI location accuracy is best within 2-3m range. </i> </td>
                </tr>
              </tbody>
            </table>
            <div class="well">
              <p class="lead"> Planning around pluggability </p>
              <p> For OiO that will be powered by AC mains and/or connected to existing Ethernet outlets, it is recommended to first survey the space and then plan the deployment opportunistically around the placement and availability of these resources. </p>
            </div>
            <table class="table table-hover table-reelyactive">
              <caption> INFRASTRUCTURE PLACEMENT CONSIDERATIONS </caption>
              <thead>
                <tr>
                  <th> Consideration </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Mounting height </th>
                  <td> <p> OiO should be mounted at a height similar to that of the devices they are intended to detect &mdash; this is especially critical for POIs.  For zone coverage, it is advisable to mount slightly higher to maximise line-of-sight over the spacing interval radius. </p> <i> For standard 3m ceilings, mounting at any height, including above a false-ceiling, is generally acceptable. </i> </td>
                </tr>
                <tr>
                  <th> Line-of-sight </th>
                  <td> <p> OiO should be mounted away from metal and from massive obstructions such as concrete (unless the latter are to intentionally limit coverage of specific areas).  Line-of-sight should be maximised throughout the target coverage area. </p> <i> When mounting on support columns, ensure at least a few centimetres spacing from the metal/concrete. </i> </td>
                </tr>
                <tr>
                  <th> Physical access </th>
                  <td> OiO should be mounted such that they are physically accessible for maintenance or inspection should the need arise. </td>
                </tr>
              </tbody>
            </table>
            <p> &nbsp; </p>
            <h2 id="powering">
              Powering <br>
              <small> Providing power to the Owl-in-One </small>
            </h2>
            <p> Once the infrastructure placement is complete, the next step is to power the individual OiO units.  The OiO accepts power via its USB plug from any source providing the <b>USB-standard 5V and at least 1.0A output.</b> </p>
            <img src="images/deployment-oio-power.jpg"
                 class="img-responsive"> <br>
            <table class="table table-hover table-reelyactive">
              <caption> POWER CONFIGURATIONS AND REQUIREMENTS </caption>
              <thead>
                <tr>
                  <th> Configuration </th>
                  <th> Requirements </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> AC Mains </th>
                  <td> <p> Connect the USB plug of the OiO to AC mains via the provided adapter or a standard third-party adapter. </p> <i> Accessible mains outlets and/or connected USB adapters are attractive sources of power for other devices: if an easily-accessible outlet is the only available option, take precautions to avoid power interruptions to the OiO! </i> </td>
                </tr>
                <tr>
                  <th> USB Outlets </th>
                  <td> <p> Connect the USB plug of the OiO directly to a USB outlet.  Such outlets may be found combined with an AC mains socket, or on devices such as computers and displays, provided they meet the minimum USB power standard. </p> <i> Confirm that the selected outlet provides continuous power that is not interrupted by a switch or the power mode of the source device! </i> </td>
                </tr>
                <tr>
                  <th> USB Batteries </th>
                  <td> <p> Connect the USB plug of the OiO to the standard receptacle on the battery (often called a power bank).  In this configuration the OiO will safely shutdown once the battery is exhausted. </p> <i> Some power banks require an intermediate step (ex: button press) before delivering power. Observe the requirements specific to the selected power bank to ensure expected results. </i> </td>
                </tr>
              </tbody>
            </table>
            <p> &nbsp; </p>
            <h2 id="connecting">
              Connecting <br>
              <small> Providing wired or wireless connectivity to the Owl-in-One </small>
            </h2>
            <p> The Owl-in-One conveniently supports both Ethernet (wired) connectivity and WiFi (wireless) connectivity. </p>
            <h3> Connecting Ethernet </h3>
            <p> Provide Ethernet connectivity simply by plugging the OiO's network cable into an Internet-connected DHCP-enabled switch or router.  The OiO will automatically establish a connection. </p>
            <h3> Connecting WiFi </h3>
            <p> The OiO ships with the following default configuration: </p>
            <ul>
              <li> SSID: &nbsp; <b>reelyActive</b> </li>
              <li> Password: &nbsp; <b>owl-in-one</b> </li>
              <li> Security: &nbsp; Open, WEP, WPA or WPA2 (except Enterprise) </li>
            </ul>
            <p> The OiO will automatically connect when in range of the WiFi network for which it is configured. </p>
            <h4> Connecting to a different WiFi network </h4>
            <p> The WiFi settings can be reconfigured using a command-line tool on a computer running Windows, Mac or Linux that is connected to the OiO via USB.  Click the button below for the instructions to install this tool for the Tessel 2 on which the OiO is based. </p>
            <p class="text-center">
              <a class="btn btn-default" href="http://tessel.github.io/t2-start/"
                 role="button"> Install t2 command-line tool </a>
            </p>
            <br>
            <p> <i> Test that the t2 command-line tool is successfully installed by opening a terminal or command prompt and entering <b><tt>t2</tt></b>.  You should see the usage information for the tool displayed.  The only command you will need to use is <tt>wifi</tt> &mdash; using other commands may misconfigure the OiO! </i></p>
            <p> To update the WiFi configuration: </p>
            <ol>
              <li> Connect the USB plug of the OiO to the computer </li>
              <li> Wait at least 30 seconds for the OiO to boot </li>
              <li> Open a terminal or command prompt on the computer </li>
              <li> Enter <b><tt>t2 wifi -n "SSID" -p "password"</tt></b> replacing the SSID and password as per the target configuration. </li>
            </ol>
            <p> Should the program crash, simply exit with Ctrl+C and enter the command again.  To validate the WiFi connection (which requires the network to be in range) simply enter <tt>t2 wifi</tt> and observe the connection parameters. </p>
            <p> Only the most recent WiFi configuration is stored by the OiO and is applied on every boot cycle.  Previous configurations are <i>not</i> stored. </p>
            <hr>
            <h2> What's next? </h2>
            <p> Compare with our reel deployment guide, or return to the diyActive home page. </p>
            <p class="text-center">
              <a class="btn btn-default" href="reel-deployment.html"
                 role="button"> Reel Deployment </a>
              <a class="btn btn-success" href="/"
                 role="button"> Return to diyActive </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="/"
           uib-tooltip="Do-it-yourself with reelyActive"
           tooltip-placement="left"> diyActive </a> &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2018
        </a>
      </footer>
    </div>
  </body>
</html>
