<!DOCTYPE HTML>
<html>
  <head>
    <title>Deploying reelyActive reels | diyActive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="How to deploy reels of daisy-chained reelceivers in a space, from the server room to each point of interest.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/diyactive.js"></script>
  </head>
  <body ng-app="diyActive">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/"> diyActive </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://github.com/reelyactive/" target="_blank">
                    reelyActive on GitHub
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://www.npmjs.com/~reelyactive" target="_blank">
                    reelyActive on npmjs
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://getpareto.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://shop.reelyactive.com" target="_blank">
                    Our online store
                  </a>
                </li>
                <li role="menuitem">
                  <a href="https://reelyactive.com/blog/" target="_blank">
                    Our blog
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h1>
              Reel Deployment Overview <br>
              <small> How to deploy reelyActive daisy-chained reelceivers to cover a space </small> 
            </h1>
            <img src="images/deployment-reel-overview.jpg"
                 class="img-responsive"> <br>
            <p> A reel is a daisy-chain configuration which reliably and cost-effectively extends infrastructure coverage over wide areas.  This tutorial outlines the four steps to deploying reels to cover a space, namely: </p>
            <p class="text-center">
              <a class="btn btn-default btn-sm"
                 href="#planning"> Planning </a> &nbsp;
              <a class="btn btn-default btn-sm"
                 href="#routing"> Routing </a> &nbsp;
              <a class="btn btn-default btn-sm"
                 href="#cabling"> Cabling </a> &nbsp;
              <a class="btn btn-default btn-sm"
                 href="#serving"> Serving </a> &nbsp;
            </p>
            <h2 id="planning">
              Planning <br>
              <small> Placing the reelceivers on the floorplan </small>
            </h2>
            <p> The initial step is planning where to deploy the infrastructure  within the space.  This is typically accomplished using floorplans.  Based on the application, infrastructure can be placed to maximise <b>zone coverage</b> and/or to provide granularity at specific <b>points of interest (POIs)</b>. </p>
            <table class="table table-hover table-reelyactive">
              <caption> INFRASTRUCTURE PLACEMENT STRATEGIES </caption>
              <thead>
                <tr>
                  <th> Strategy </th>
                  <th> Description </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Zone coverage </th>
                  <td> <p> Infrastructure is placed at regular spacing intervals, often in a grid pattern, providing complete and uniform coverage of the space.  To facilitate deployment, it is common to place infrastructure on regular structural features such as support columns. </p> <i> Typical spacing is every 7m or one reelceiver for every 50m<sup>2</sup>. </i> </td>
                </tr>
                <tr>
                  <th> Points of Interest </th>
                  <td> <p> Infrastructure is placed at specific POIs where proximity or granular location is important. </p> <i> POI location accuracy is best within 2-3m range. </i> </td>
                </tr>
              </tbody>
            </table>
            <p> The following floorplan serves as an example of a hybrid approach where: </p>
            <ul>
              <li> 11 reelceivers are placed on support columns to provide <b>zone coverage</b>
              <li> 1 reelceiver is placed in a conference room to provide <b>POI</b> location granularity
            </ul>
            <img src="images/deployment-reelceivers-on-map.png"
                 class="img-responsive"> <br>
            <table class="table table-hover table-reelyactive">
              <caption> INFRASTRUCTURE PLACEMENT CONSIDERATIONS </caption>
              <thead>
                <tr>
                  <th> Consideration </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Mounting height </th>
                  <td> <p> Reelceivers should be mounted at a height similar to that of the devices they are intended to detect &mdash; this is especially critical for POIs.  For zone coverage, it is advisable to mount slightly higher to maximise line-of-sight over the spacing interval radius. </p> <i> For standard 3m ceilings, mounting at any height, including above a false-ceiling, is generally acceptable. </i> </td>
                </tr>
                <tr>
                  <th> Line-of-sight </th>
                  <td> <p> Reelceivers should be mounted away from metal and from massive obstructions such as concrete (unless the latter are to intentionally limit coverage of specific areas).  Line-of-sight should be maximised throughout the target coverage area. </p> <i> When mounting on support columns, ensure at least a few centimetres spacing from the metal/concrete. </i> </td>
                </tr>
                <tr>
                  <th> Physical access </th>
                  <td> Reelceivers should be mounted such that they are physically accessible for maintenance or inspection should the need arise. </td>
                </tr>
              </tbody>
            </table>
            <p> &nbsp; </p>
            <h2 id="routing">
              Routing <br>
              <small> Connecting the reelceivers on the floorplan </small>
            </h2>
            <p> Once the infrastructure placement is complete, the next step is to route the cables for the daisy-chain configuration.  Routing can be performed such as to facilitate deployment provided it respects the following limits on <b>reelceivers per reel</b> and <b>cable lengths</b>. </p>
            <table class="table table-hover table-reelyactive">
              <caption> REEL ROUTING CONSTRAINTS </caption>
              <thead>
                <tr>
                  <th> Constraint </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Reelceivers per reel </th>
                  <td> <p> Any single reel should include no more than 6 reelceivers for typical applications. </p> <i> Applications with sparse wireless traffic can nonetheless reliably support additional reelceivers. </i> </td>
                </tr>
                <tr>
                  <th> Cable lengths </th>
                  <td> <p> No single cable run in the reel shall exceed 100m. </p> <i> This includes service loops and patch cord extensions! </i> </td>
                </tr>
              </tbody>
            </table>
            <p> The following floorplan shows one possibility for routing the 12 reelceivers on three reels originating from the server room, each following a logical path along a row of support columns. </p>
            <img src="images/deployment-cables-on-map.png"
                 class="img-responsive"> <br>
            <h3> Cable identification </h3>
            <p> We propose the following convention for identifying each cable, which is illustrated on the floorplan below. </p>
            <table class="table table-hover table-reelyactive">
              <caption> CABLE IDENTIFICATION CONVENTION </caption>
              <thead>
                <tr>
                  <th> Character(s) </th>
                  <th> Purpose </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> First </th>
                  <th> Floor </th>
                  <td> The floor number on which the cable is installed.  If the floor number is greater than 9, then the identifier will have one or more additional characters.  If the floor number is less than 0, apply 'S' as a prefix. </td>
                </tr>
                <tr>
                  <th> Second </th>
                  <th> Reel </th>
                  <td> A single-character reel identifier, starting with 'A' for each floor.  Consider omitting 'I' and 'O' to avoid confusion with floor/offset numbers.  If the number of reels on the floor exceeds 'Z', continue with 'AA', 'AB' and so forth.  </td>
                </tr>
                <tr>
                  <th> Third </th>
                  <th> Offset </th>
                  <td> The number of offsets from the server room (i.e. hub connection) starting from 0.  If the offset number is greater than 9, then the identifier will have additional characters. </td>
                </tr>
              </tbody>
            </table>
            <img src="images/deployment-cables-on-map-labelled.png"
                 class="img-responsive"> <br>
            <p> &nbsp; </p>
            <h2 id="cabling">
              Cabling <br>
              <small> Running the cables in the space </small>
            </h2>
            <p> Based on the routing plan, a network cable installer can complete the cable drops as per any specific aesthetic or functional requirements of the facility operator(s).  At a minimum, each placement would simply receive an RJ-45 plug-terminated cable leading to each neighbour along the reel.  The following image shows how a service loop, junction box and patch cables <i>&mdash; or any combination thereof &mdash;</i> can be used for flexible placement and/or aesthetics. </p>
            <img src="images/deployment-drop.jpg"
                 class="img-responsive"> <br>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>
                  Labelling the cabling <br>
                  <small> Best practices make for better deployments </small>
                </h3>
                <p> It is strongly advised to label the plugs/connectors at each placement with the corresponding identifier of each cable, as shown in the image.  Reelceivers are directional, and consistent labelling greatly minimises reverse-installation errors. </p>
                <p> If the connectors are visible and accessible such that they may be mistaken for Ethernet, it is highly advisable to label them to this effect so as to avoid any confusion. </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="images/deployment-junction-box-labelled.jpg"
                     class="img-responsive"> <br>
              </div>
            </div>
            <p> &nbsp; </p>
            <h2 id="serving">
              Serving <br>
              <small> Connecting the reels to the IP network </small>
            </h2>
            <p> Each reel receives power and connectivity from a hub, which is typically installed in a server room.  The '0' cable of each reel should be connected to a patch panel, if available, or a junction box (and labelled in either case). </p>
            <p> The hub is an industrial serial-Ethernet converter with <a href="https://en.wikipedia.org/wiki/DIN_rail" target="_blank">DIN Rail</a> mounting capability.  The hub can be securely mounted in two ways: </p>
            <ol>
              <li> on a DIN Rail affixed to a wall
              <li> within a rack, occupying 3U, using a DIN Rail adapter
            </ol>
            <p> </p>
            <img src="images/deployment-server.jpg"
                 class="img-responsive"> <br>
            <table class="table table-hover table-reelyactive">
              <caption> HUB CONNECTIONS </caption>
              <thead>
                <tr>
                  <th> Connection </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Reel </th>
                  <td> <p> Connect to the '0' cable of the reel via the patch panel or junction box. </p> <i> The hub's cable harness provides a RJ-45 plug. </i> </td>
                </tr>
                <tr>
                  <th> Ethernet </th>
                  <td> <p> Connect via patch cable to an Ethernet switch providing network connectivity. </p> <i> The hub provides a RJ-45 jack. </i> </td>
                </tr>
                <tr>
                  <th> Power </th>
                  <td> <p> Connect to a 24VDC supply. </p> <i> The hub's cable harness provides a barrel connector jack (2mm x 5.5mm). </i> </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <h2> What's next? </h2>
            <p> Learn more about our reel architecture, compare with our Owl-in-One deployment guide or return to the diyActive home page. </p>
            <p class="text-center">
              <a class="btn btn-default" href="reel-overview.html"
                 role="button"> Reel Overview </a>
              <a class="btn btn-default" href="oio-deployment.html"
                 role="button"> OiO Deployment </a>
              <a class="btn btn-success" href="/"
                 role="button"> Return to diyActive </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="/"
           uib-tooltip="Do-it-yourself with reelyActive"
           tooltip-placement="left"> diyActive </a> &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017-2018
        </a>
      </footer>
    </div>
  </body>
</html>
