body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18pt;
  line-height: 1.75em;
  color: #39454b;
  letter-spacing: 0.5px;
  margin: 0;
}

section {
  margin-top: 4.5em;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
  margin-top: 3em;
}

a {
  color: #0770a2;
  text-decoration: none;

  -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

  a:hover {
     text-shadow: 0px 1px 1px #aaaaaa;
  }

code {
  font-size: 13pt;
  line-height: 1em;
  margin-left: 3em;
}

br .clear {
  clear: both;
}

#header {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  background: rgba(255,255,255,0.95);
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
}

  #header img {
    display: block;
    margin: 0 auto;
    height: 3em;
  }

#content {
  min-width: 480px;
  width: 50%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

  #content p {
    text-align: justify;
  }

  #content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 100%;
  }

#projects {
  width: 100%;
  background: #eeeeee;
}

#projects .list {
  min-width: 480px;
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

  #projects .project {
    margin: 1em 0;
    clear: both;
  }

  #projects .visual {
    width: 25%;
    float: left;
  }

    #projects .visual img {
      width: 100%;
    }

  #projects .description {
    width: 75%;
    float: left;
  }

  #projects .description h2 {
    margin-top: 0;
    margin-left: 2em;
  }

  #projects .description p {
    margin-left: 2em;
    text-align: justify;
  }

#footer {
  position: relative;
  height: 5em;
  line-height: 5em;
  margin: 0;
  background: #4997bd;
  color: #999;
  color: rgba(255,255,255,0.5);
  overflow: hidden;
  text-align: center;
}

  #footer a {
    color: #999;
    color: rgba(255,255,255,0.5);
  }

  #footer a:hover {
    color: rgba(255,255,255,0.7);
  }
